In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [9]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
df1 = pd.read_csv("kklm.csv")

In [12]:
df1['data']

0     4
1     8
2    15
3    16
4    23
5    52
Name: data, dtype: int64

In [14]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
#variable print it.
# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list into a pandas Series
my_series = pd.Series(my_list)

# Print the Series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [17]:
#Q3.Create a Pandas DataFrame that contains the following data:
df2 = pd.read_csv("Data1.csv")
print(df2)

     name  age  gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [18]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
'''Sure, here's a shorter explanation:

- **DataFrame**: It's a two-dimensional table-like data structure in pandas with rows and columns. Each column can have a different data type. Think of it like a spreadsheet or SQL table.

- **Series**: It's a one-dimensional labeled array, essentially a single column of data in a DataFrame. It has a label for each element, called the index.

Example:'''

import pandas as pd

# Series
series_data = pd.Series([10, 20, 30, 40, 50], name='A')

# DataFrame
data = {'A': [10, 20, 30, 40, 50], 'B': [5, 15, 25, 35, 45]}
df = pd.DataFrame(data)


'''`series_data` is a Series with one column 'A'. `df` is a DataFrame with two columns, 'A' and 'B', where each column is like a separate Series.'''

"`series_data` is a Series with one column 'A'. `df` is a DataFrame with two columns, 'A' and 'B', where each column is like a separate Series."

In [ ]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
#you give an example of when you might use one of these functions?
'''Certainly, here's a concise summary of common DataFrame manipulation functions in pandas with an example:

1. **Filtering Rows**:
   - Use `DataFrame.loc[]` or `DataFrame.iloc[]` to select specific rows.

2. **Selecting Columns**:
   - Access a column using `DataFrame['ColumnName']`.

3. **Sorting Data**:
   - Sort data with `DataFrame.sort_values()`.

4. **Grouping and Aggregation**:
   - Group and aggregate using `DataFrame.groupby()`.

5. **Merging Data**:
   - Merge two DataFrames using `pd.merge()`.

6. **Pivot Tables**:
   - Create pivot tables with `pd.pivot_table()`.

7. **Handling Missing Data**:
   - Drop or fill missing values with `DataFrame.dropna()` and `DataFrame.fillna()`.

8. **Adding and Removing Columns**:
   - Add new columns and remove existing ones.

Examples:'''
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22]}
df = pd.DataFrame(data)

# Filter rows where 'Age' is greater than 25
filtered_df = df[df['Age'] > 25]

# Select the 'Name' column
names = df['Name']

# Sort the DataFrame by 'Age' in ascending order
sorted_df = df.sort_values(by='Age')

# Group by 'Age' and calculate the mean
age_mean = df.groupby('Age').mean()

# Merge two DataFrames
merged_df = pd.merge(df1, df2, on='ID')

# Create a pivot table
pivot_table = pd.pivot_table(df, values='Value', index='Category', columns='Month', aggfunc='mean')

# Drop rows with missing values
no_missing_df = df.dropna()

# Fill missing values with 0
filled_df = df.fillna(0)

# Add a new column 'Total'
df['Total'] = df['Age'] + df['Salary']

# Remove the 'Salary' column
df = df.drop('Salary', axis=1)

In [20]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
'''Among Series, DataFrame, and Panel in pandas, only DataFrame is mutable in nature. We can change the data, add or remove columns, and modify its contents after creation. Series and Panel are immutable, meaning once they are created, their data cannot be changed.'''

'Among Series, DataFrame, and Panel in pandas, only DataFrame is mutable in nature. We can change the data, add or remove columns, and modify its contents after creation. Series and Panel are immutable, meaning once they are created, their data cannot be changed.'

In [ ]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.